<h1>Random Beer</h1>
    <img src="{{image_url}}" alt="{{name}}">
    <div>
        <h2>{{name}}</h2>
        <p>{{tagline}}</p>
        <p>{{description}}</p>
        <p>Food Pairings:</p>
        <p>{{food_pairing}}</p>
        <p>Tips:</p>
        <p>{{brewer_tips}}</p>
    </div>